.flame {
    text-align: right;
}

input{
  box-sizing: border-box;
  width: 53%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}

button{
  font-size: 18px;
  width: 10%;
  color: #333;
  border-color: #fff;
}